@font-face {
    font-family: 'OdysseyFont'; 
    src: url('../../assets/fonts.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.registration-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw; 
    height: 120vh; 
    background-color: #FAAE5C;
}

.registration-title {
    font-family: 'OdysseyFont', sans-serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #AD3535;
    text-align: center;
    font-size: 5vw;
}

.registration-subtitle {
    font-family: 'OdysseyFont', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #AD3535;
    text-align: center;
    font-size: 2.5vw;
}

.registration-description1 {
    font-family: 'OdysseyFont', sans-serif;
    position: absolute;
    top: 58%;
    left: 50%;
    right: 5%;
    transform: translateX(-50%);
    color: #AD3535;
    width: 95vh;
    height: auto; 
    text-align: center;
    font-size: 1.99vw;
}

.registration-description2 {
    font-family: 'OdysseyFont', sans-serif;
    position: absolute;
    top: 77%;
    left: 50%;
    right: 5%;
    transform: translateX(-50%);
    color: #AD3535;
    width: 95vh;
    height: auto; 
    text-align: center;
    font-size: 1.99vw;
}

.registration-image-top-left { 
    position: absolute;
    top: 5%;
    left: 7%;
    transform: translateX(-50%);
    width: auto;
    height: 50vh; 
}

.registration-image-bottom-right {
    position: absolute;
    top: 80%;
    left: 91%;
    transform: translateX(-50%);
    width: auto;
    height: 30vh; 
}


.registration-buttons {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15vw;
}

.registration-button {
    background-color: #AD3535;
    color: white;
    font-family: 'OdysseyFont', sans-serif;
    border: none;
    border-radius: 15px;
    width: 22vw;
    height: 8vh;
    font-size: 2.5vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-button:hover {
    background-color: #8B2B2B;
}






@media (max-aspect-ratio: 1/1) {
    .registration-container {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw; 
        height: 100vh; 
        background-color: #FAAE5C;
    }
    
    .registration-title {
        font-family: 'OdysseyFont', sans-serif;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        color: #AD3535;
        text-align: center;
        font-size: 7vw;
    }
    
    .registration-subtitle {
        font-family: 'OdysseyFont', sans-serif;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translateX(-50%);
        color: #AD3535;
        text-align: center;
        font-size: 4vw;
    }
    
    .registration-description1 {
        font-family: 'OdysseyFont', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 5%;
        transform: translateX(-50%);
        color: #AD3535;
        width: auto;
        height: auto; 
        text-align: center;
        font-size: 3.29vw;
    }
    
    .registration-description2 {
        font-family: 'OdysseyFont', sans-serif;
        position: absolute;
        top: 77%;
        left: 50%;
        right: 5%;
        transform: translateX(-50%);
        color: #AD3535;
        width: auto;
        height: auto; 
        text-align: center;
        font-size: 3.29vw;
    }
    
    .registration-image-top-left { 
        position: absolute;
        top: 12%;
        left: 7%;
        transform: translateX(-50%);
        width: auto;
        height: 50vw; 
    }
    
    .registration-image-bottom-right {
        position: absolute;
        top: 80%;
        left: 91%;
        transform: translateX(-50%);
        width: auto;
        height: 3vh; 

    }
    
    
    .registration-buttons {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 15vw;
    }
    
    .registration-button {
        background-color: #AD3535;
        color: white;
        font-family: 'OdysseyFont', sans-serif;
        border: none;
        border-radius: 15px;
        width: 22vw;
        height: 8vh;
        font-size: 2.5vw;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .registration-button:hover {
        background-color: #8B2B2B;
    }
}    